<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="params">
		<field name="theme" type="folderlist" hide_none="1" exclude="core" directory="templates/TEMPLATE_NAME/themes/" label="Primary Theme" description="Select the primary theme. If no theme is selected, the core theme will be used." />
		<field name="theme_mobile" type="folderlist" hide_none="1" exclude="core" directory="templates/TEMPLATE_NAME/themes/" label="Primary Mobile Theme" description="Select the primary mobile theme. This is the theme that will be loaded on mobile devices. If no theme is selected, the mobilecore theme will be used. If that theme does not exist, the core theme will be used." />
		<field name="doctype" type="list" label="DOCTYPE">
			<option value="xhtml transitional">XHTML Transitional</option>
			<option value="xhtml strict">XHTML Strict</option>
			<option value="xhtml 1.1">XHTML 1.1</option>
			<option value="html 5">HTML 5</option>
		</field>
		<field name="plugins" type="radio" label="Enable Plugins" default="1" description="Choose whether or not you would like to enable custom Motif plugins to load.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="debug" type="radio" label="Debug Mode" default="0" description="Select whether or not the template should display in debug mode. If the template is in debug mode, you can add debug=1 to the URL to see where various files are loaded from your theme.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="manual_theme" type="radio" label="Enable theme=THEME_NAME functionality" default="1" description="Select whether or not you would like to allow adding zt=THEME_NAME to URL's to manually override which theme is loaded.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fields>
</config>